<h2>Add Contact</h2>

<form class="contact-form">
  {{partial "contact/form"}}

  <div class="cancel">
    {{#link-to 'contacts'}}
      cancel
    {{/link-to}}
  </div>

  <button class="btn btn-default save-button" {{action "createContact"}}>
    Save Contact
  </button>
</form>