<div class="contact-form">
  <h1>New Contact!</h1>

  <label for="name">Name:</label><br/>
  {{input type="text" id="name" value=name}}

  <br/>
  <br/>

  <label for="name">From City:</label><br/>
  {{input type="text" id="city" value=city}}

  <br/>
  <br/>

  <a href="#" {{action "createContact"}}>
    Create Contact
  </a>
</div>