<form class="contact-form">
  <h2>Add Contact</h2>

  <div class="form-group">
    <label for="name">Name:</label>
    {{input type="text" id="name" class="form-control" value=name}}
  </div>

  <div class="form-group">
    <label for="name">From City:</label>
    {{input type="text" id="city" class="form-control" value=city}}
  </div>

  <div class="form-group">
    <label for="name">Birthday:</label>
    {{date-picker id="birthday" class="form-control" value=birthday}}
  </div>

  <a href="#" {{action "createContact"}}>
    Create Contact
  </a>
</form>