<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      We're sorry you forgot your password! Click on the link below to reset it:
    </p>
    <p>
      <%= @reset_password_url %>
    </p>
  </body>
</html>