<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password reminder</h1>
    <p>
      You asked for us to remind you of your password, so here it is!
    </p>
    <p>
      <%= @reset_password_url %>
    </p>
  </body>
</html>