<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Welcome to Grezha!
    </p>
    <p>
      You've been added to the account for <b><%= @organization_name %></b>.
    </p>
    <p>
      You're initial password is <b><%= @password %></b>. We suggest that reset it as soon as possible though, it'll be far more secure that way.
    </p>
    <p>
      Head over to <a href="<%= @url %>"><%= @url %></a> to get started.
    </p>
  </body>
</html>