<h2>Add Client</h2>

<form class="contact-form">
  {{partial "contact/form"}}

  <div class="cancel">
    {{#link-to 'contacts'}}
      cancel
    {{/link-to}}
  </div>

  <button id="save-client" class="btn btn-default" {{action "createContact"}}>
    Save Client
  </button>
</form>