<div id="content">
  <div class="logo">
    <h1>Grezha</h1>
  </div>

  <div id="account-box">
    <h3>Forgot Password</h3>
    <p>Don't worry. Just enter your email address and we'll email it to you:</p>

    <form {{action 'submit' on='submit'}}>
      <div class="form-group">
        {{input type="text"
                id="email"
                class="form-control"
                placeholder="Email address"
                value=email}}
      </div>

      {{#if isLoading}}
        <div class="spin-button">
          <i class="icon-loading animate-spin"></i>
        </div>
      {{else}}
        <input type="submit"
           id="forgot-password-submit"
           class="btn btn-default"
           value="Submit">
      {{/if}}

      {{#link-to "login"
          class="alternate-link btn btn-link"}}
        Cancel
      {{/link-to}}
    </form>
  </div>

  {{#if errors}}
    <div id="errors" class="alert login">
      {{errors}}
    </div>
  {{/if}}
</div>