<header>
  <div id="topbar" class="clearfix">
    <div class="logo">
      <h1> Grezha </h1>
    </div>

    <nav>
      <div class="mobile-only">
        <div class="account-info">
          {{session.username}} - {{session.organization}}
        </div>
      </div>

      <div class="login-info">
        <div>
          <span id="username">{{session.username}}</span>
        </div>
      </div>
    </nav>
  </div>
</header>

<div id="content" class="loading-screen">
  <span>loading</span><i class="icon-loading animate-spin"></i>
</div>
