<div id="sidebar">
  <div class="controls">
    <div class="searchbar">
        <i class="fa fa-search"></i>
        {{input type="text" class="form-control"}}
    </div>
  </div>

  <div class="spinner">
  </div>
</div>

<div id="main-panel">
  {{outlet}}
</div>