.row
  .col-sm-12.center
    %h2
    user management page
    = current_user.organization.name
.row
  = button_to 'New', new_user_path, {:method => 'get'}
.row
  .col-sm-2 &nbsp;
  .col-sm-10
    %dl
    - @users.each do |user|
      %dd name
      %dt 
        = user.name
      %dd email
      %dt
        = user.email


