<div class="form-group">
  {{view Ember.Select
  content=days
  selection=selectedDay
  prompt="DD"}}
  {{view Ember.Select
  content=months
  selection=selectedMonth
  prompt="MM"}}
  {{view Ember.Select
  content=years
  selection=selectedYear
  prompt="YYYY"}}
</div>
