<div class="form-group">
  {{view Ember.Select
  content=days
  selection=selectedDay
  prompt="Day"}}

  {{view Ember.Select
    content=months
    optionValuePath="content.id"
    optionLabelPath="content.name"
    value=selectedMonth
    prompt="Month"}}

  {{view Ember.Select
  content=years
  selection=selectedYear
  prompt="Year"}}
</div>
