<div class="vehicle-panel">
  <h3>
    #{{licensePlate}}
  </h3>

  <div class="used-by">
    driven by {{usedBy}}
  </div>

  <div class="notes">
    <b>notes:</b><br/>
    {{notes}}
  </div>
</div>
