<h2>Add Vehicle</h2>

<form class="vehicle-form">
  {{partial "vehicle/form"}}

  <div class="cancel">
    {{#link-to 'vehicles'}}
      cancel
    {{/link-to}}
  </div>

  <button class="btn btn-default" id="saveVehicle" {{action "createVehicle"}}>
    Save Vehicle
  </button>
</form>