<h2>Add Vehicle</h2>

<form class="vehicle-form">
  {{partial "vehicle/form"}}

  <div class="cancel">
    {{#link-to 'vehicles'}}
      cancel
    {{/link-to}}
  </div>

  {{#if isSaving}}
    <div class="spin-button">
      <i class="icon-loading animate-spin"></i>
    </div>
  {{else}}
    <button class="btn btn-default" id="saveVehicle" {{action "createVehicle"}}>
      Save Vehicle
    </button>
  {{/if}}
</form>