development:
  adapter: postgresql
  database: daughters_development
  username: YOUR_USERNAME
  pool: 5
  timeout: 5000

test:
  adapter: postgresql
  database: daughters_test
  username: YOUR_USERNAME
  pool: 5
  timeout: 5000

production:
  adapter: postgresql
  database: daughters_production
  username: YOUR_USERNAME
  pool: 5
  timeout: 5000
