<div class="add-model-form">
  <div class="connection-top-row">
    <div class="form-group connection-date-span">
      {{date-field id="newConnectionDate" date=newConnection.occurredAt}}
    </div>
    <div class="form-group connection-mode-span">
      {{view Ember.Select
      class="form-control connection-mode"
      content=modes
      id="mode"
      value=newConnection.mode}}
    </div>
  </div>

  <div class="form-group">
    {{focused-textarea id="newConnectionNote" class="form-control" placeholder="Where? What happened? Any thing they need?" valueBinding="newConnection.note"}}
  </div>


  <div class="save-button">
    <button id="save-connection" class="btn btn-default" {{action "saveConnection"}}>
      Save Connection
    </button>
  </div>
</div>
