<% content_for :javascript_setup do %>

  window.EmberConfiguration = {
    rootElement: "#ember-app",
    environment: "<%= Rails.env %>",
    currentUser: '<%= current_user.name %>'
  };

<% end %>

<div id="ember-app" class="clearfix">
</div>