<script>

App.initializer({
  name: "setupData",
  initialize: function(container, application) {
    application.set('isDemo', <%= Rails.env.demo? %>);
    application.set('currentUser', '<%= current_user.name %>');
  }
});

</script>

<div id="ember-app" class="clearfix">
</div>