<% content_for :javascript_setup do %>

  window.EmberConfiguration = {
    rootElement: '#ember-app',
    environment: '<%= Rails.env %>',
    currentUser: '<%= current_user.name %>',
    isAdmin: <%= current_user.admin? %>,
    organization: '<%= current_user.organization.name %>'
  };

<% end %>

<div id="ember-app" class="clearfix">
</div>