@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

@font-face {
    font-family: Redressed;
    src: url(../font/redressed.ttf);
}

$bulgarian-green: #00966E;
$light-bulgarian-green: #e3fff7;
$bulgarian-red: #D62612;
$dark-grey: #333;
$med-grey: #979797;
$warning: #ffa295;

$header-height: 50px;
$usual-buffer: 10px;

$break-small: 480px;

@import "login";
@import "main";