a#add-event {
  @extend .btn;
  @extend .btn-default;
  float: right;
}

#events-header {
  @include panel;
  h2 { margin-bottom: 0; }
}

#events {
  @include panel;
  @extend .row;

  .event-date {
    margin-top: $usual-buffer * 1.5;
    margin-bottom: $usual-buffer / 2;
  }

  .event {
    border-bottom: 1px solid $light-bulgarian-green;
    padding: ($usual-buffer / 2) $usual-buffer;

    &:hover {
      background-color: $light-bulgarian-green;
    }

    .time {
      font-weight: bold;
      padding-right: 1rem;
    }

    .location {
      color: $med-grey;
    }

    .program {
      color: $bulgarian-green;
      float: right;
    }
  }
}

#events-list {
  @extend .col-sm-10;
}


#new-event {
  @include panel;
  @extend .col-md-10;
}

#event-form {
  #event-name {
    font-size: 120%;
  }

  #save-event {
    @extend .btn;
    @extend .btn-default;
  }
}