a#add-event, a#change-filter, a#filter-status {
  @extend .btn;
  @extend .btn-default;
  float: right;
  margin-left: $usual-buffer;
}

#events-header {
  @include panel;
  @include clearfix;

  margin-top: 1em;

  h2 {
    float: left;
    font-size: 18pt;
    margin-bottom: 0;

    @media screen and (max-width: $break-medium) {
      float: none;
      margin-bottom: $usual-buffer;
    }

    .program-name { color: $bulgarian-green; }
  }


  .controls {
    @include clearfix;
    float: right;

    @media screen and (max-width: $break-medium) {
      float: none;
    }
  }
}

#events-filter {
  @include clearfix;

  #select-program {
    float: right;

    @media screen and (max-width: $break-medium) {
      float: left;
      width: 60%;
    }
  }
}

#events {
  @include panel;
  @extend .row;

  .event-date {
    margin-top: $usual-buffer * 1.5;
    margin-bottom: $usual-buffer / 2;

    &:first-child {
      margin-top: 0;
    }
  }

  .event a {
    display: block;
    border-bottom: 1px solid $light-bulgarian-green;
    padding: ($usual-buffer / 2) $usual-buffer;

    &:hover {
      color: $dark-grey;
      background-color: $light-bulgarian-green;
    }

    .time {
      font-weight: bold;
      padding-right: 1rem;
    }

    .location {
      color: $med-grey;
    }

    .program {
      color: $bulgarian-green;
      float: right;
    }
  }
}

#events-list {
  @extend .col-sm-10;
}

.event-action {
  @include panel;
  @extend .row;
}

#event-form {
  @extend .col-sm-10;

  #event-name {
    font-size: 120%;
  }

  #save-event {
    @extend .btn;
    @extend .btn-default;
  }
}

.event-details {
  @include panel;
  margin-top: $usual-buffer * 2;

  .date, .location {
    font-size: 120%;
    color: $med-grey;
  }

  .program {
    font-size: 120%;
    color: $bulgarian-green;
  }

  .notes {
    margin-top: $usual-buffer * 2;
  }

  .links {
    a { color: $med-grey; }
    margin-top: $usual-buffer * 2;
  }
}

