.alert.login, .notice.login {
  width: 40%;
  margin: $usual-buffer auto;
}

div#account-box {
  width: 40%;
  margin: 10px auto 0;
  border-radius: 10px;
  padding: 20px;
  background-color: lighten($bulgarian-green, 65);

  @media screen and (max-width: $break-small) {
    width: 100%;
  }

  h3 {
    text-align: center;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 20px;
    padding-top: 0px;
  }

  form {
    margin: 0px;
  }

  input[type=text], input[type=password] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    height: 30px;
    width: 100%;
  }

  .alternate-link {
    display: inline-block;
    float: right;
  }

  #sub {
    text-align: center;
  }
}