html, body {
  height: 100%;
}

ul {
  padding: 0px;
}

body {
  font-family: 'HelveticaNeue', sans-serif;
  color: $dark-grey;

  a {
    cursor: pointer;
    color: $dark-grey;
  }

  a:hover, .btn-link:hover {
    color: lighten($bulgarian-green, 5);
    text-decoration: none;
  }

  h3 {
    margin-bottom: $usual-buffer;
  }
}


input[type = "checkbox"] {
  margin: 0;
}

.left { float: left; }
.right { float: right; }
.feature.disabled { display: none !important; }

.alert {
  background-color: lighten($bulgarian-red, 40);
  padding: $usual-buffer;
  border-radius: 5px;
}

.notice {
  background-color: $light-bulgarian-green;
  padding: $usual-buffer;
  border-radius: 5px;
}

.warning {
  color: lighten($bulgarian-red, 30);
}

.icon-loading {
  color: $med-grey;
  font-size: 200%;
}


header {
  // Fix the header in the center
  position: fixed;
  left: 50%;
  width: 96%;
  max-width: 800px;
  min-width: 450px;
  z-index: 10;

  #topbar {
    position: relative;
    left: -50%;
    display: table;
    width: 100%;
    height: $header-height;

    background-color: white;
    padding-bottom: 5px;
    border-bottom: 2px solid $bulgarian-red;

    .logo {
      display: table-cell;
      vertical-align: bottom;
      white-space: nowrap;

      h1 {
        font-family: 'Redressed', sans-serif;
        font-size: 2em;
        margin: 0px;
        margin-right: $usual-buffer * 2;

        a { color: $bulgarian-green; }
        a:hover { color: lighten($bulgarian-green, 10); }
      }
    }

    .environment, .organization {
      color: $bulgarian-green;
      text-transform: capitalize;
    }

    a {
      text-decoration: none;
    }

    nav {
      width: 100%;
      display: table-cell;
      vertical-align: bottom;

      font-size: 1.1em;

      ul.links  {
        display: inline-block;
        padding-left: 0px;
        margin: 0px;

        li {
          padding-left: $usual-buffer;
          display: inline-block;
        }
      }

      .offline .reset-password a {
        pointer-events: none;
        cursor: default;
        color: #aaa;
      }

      .login-info {
        float: right;

        > div {
          padding-left: 1em;
          float: left;
        }
      }
    }
  }
}


div#content {
  padding-top: $header-height;
  margin: auto;
  width: 96%;
  max-width: 800px;
  min-width: 450px;

  .logo {
    h1 {
      color: $bulgarian-green;
      text-align: center;
      font-family: 'Redressed', sans-serif;
      font-size: 3.5em;
      margin: 0px;

      a { color: $bulgarian-green; }
      a:hover { color: lighten($bulgarian-green, 10); }
    }
  }
}

#main-panel {
  padding: $usual-buffer;
  &.skinny { width: 26em; }
}

#top-panel {
  display: table;
  width: 100%;
  padding: $usual-buffer;
  margin-top: $usual-buffer;

  h3 {
    margin: 0px;
    display: inline;
  }

  .left, .right {
    display: table-cell;
    vertical-align: bottom;
  }
}

.green { color: $bulgarian-green; }
label { text-transform: lowercase; }

.spinner {
  margin: 70px auto 20px;
  height: 50px;
  width: 50px;
  background: $light-bulgarian-green url(asset-path("greenspin.gif", image)) no-repeat center center;
}

.spin-button {
  display: inline-block;
  padding-left: 20px;

  i {
    font-size: 24px;
  }
}

h2, h3 {
  margin: 0px;
  margin-bottom: $usual-buffer * 2;
}

.disabled-control {
  a:not(.btn) {
    visibility: hidden;
  }

  .btn {
    color: #eee;
    border-color: #eee;
    pointer-events: none;
    cursor: default;
  }
}

.date-field {
  display:inline;
  width:auto;
  margin-right: .5em;
}

.connection-top-row {
  .connection-date-span {
    display: inline-block;
  }
  .connection-mode-span {
    float: right;
  }

  .connection-mode {
    display: inline;
    width: auto;
  }
}


#confirmation {
  width: 100%;
  background-color: $light-bulgarian-green;
  border-radius: 10px;
  padding: 20px;

  h4 {
    margin-top: 0;
  }
}

#main-panel {
  padding: $usual-buffer;
  padding-left: 240px + ($usual-buffer * 2);
  min-width: 240px;
  width: 100%;
}

#sidebar {
  position: fixed;
  top: $header-height + $usual-buffer;
  bottom: $usual-buffer;
  min-width: 240px;
  background-color: $light-bulgarian-green;
  border-radius: $usual-buffer;

  .controls {
    height: 90px;
    padding: $usual-buffer;

    .new-contact, .new-vehicle {
      padding: 10px 0px 0 0px;
    }

    .searchbar {
      position: relative;

      i.icon-search {
        position: absolute;
        right: 0px;
        padding: $usual-buffer;
        pointer-events: none;
      }
    }
  }

  .searchlist {
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 10px;
    overflow-y: scroll;
    border-top: 1px solid $bulgarian-green;

    ul.contacts, ul.vehicles {
      position: absolute;
      top: 0px;
      width: 100%;
      padding: $usual-buffer;
      padding-top: 0px;
      list-style-type: none;

      a.active {
        background-color: lighten($bulgarian-green, 68);
      }

      li.contact {
        .contact-secondary-search-information {
          color: $med-grey;
        }
      }

      li.contact, li.vehicle {
        a {
          width: 100%;
          padding: $usual-buffer;
          display: block;
          text-decoration: none;
        }

        a:hover {
          background-color: lighten($bulgarian-green, 68);
        }

        .highlight {
          font-weight: bold;
        }
      }
    }
  }
}

.options {
  float: right;

  a, .btn-link {
    padding-right: 0px;
    color: #aaa;
    margin-left: $usual-buffer;
  }

  a:hover, .btn-link:hover {
    color: lighten($bulgarian-green, 5);
  }
}

ul.errors  {
  margin: 0px;
  padding: 0px;
  margin-bottom: $usual-buffer;
  list-style-type: none;
  color: $bulgarian-red;
}

ul.connection_errors  {
  list-style-type: none;
  color: $bulgarian-red;
}

.cancel {
  float: right;
}

.vehicle-panel {
  .top-info {
    padding: $usual-buffer;
  }

  h3 {
    margin: 0px;
  }

  .used-by {
    color: #aaa;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 25px;
  }
}

.control-bar {
  width: 100%;

  .status {
    float: left;
    color: #aaa;
  }
}

.contact-panel {
  h3 {
    margin: 0px;
  }

  .top-info {
    padding: $usual-buffer;

    .attributes {
      margin-top: $usual-buffer * 2;
    }

    .field-label {
      color: #999;
      width: 80px;
      display: inline-block;
    }
  }

  .contact-id {
    color: #aaa;
    font-size: 110%;
  }

  .bio {
    padding: $usual-buffer;
  }

  .avatar {
    background-color: $light-bulgarian-green;
    margin: $usual-buffer;
    margin-left: 0px;
    width: 140px;
    float: left;
    text-align: center;

    img {
      height: 140px;
      width: 140px;
    }
  }
}

.file-upload-contatiner {
  background-color: white;
  position: relative;
  font-size: .7em;
  color: #999;
  margin-top: -5px;
  z-index: 1;

  &.disabled-control {
    display: none;
  }

  &:hover {
    .fake-uploader {
      color: lighten($bulgarian-green, 5);
    }
  }

  .fake-uploader {
    width: 100%;
    height: 100%;
  }

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.add-model-form {
  @include clearfix;
  margin-bottom: 20px;
  padding: $usual-buffer;
  background-color: $light-bulgarian-green;
  border-radius: $usual-buffer;

  .spin-button {
    padding-right: 20px;
    float: right;
  }
}

.mode-header {
  display: none;
  margin-left: 10px;

  &.has-connections {
    display: inline-block;
  }

  a {
    color: #888;

    &:hover {
      color: $bulgarian-green
    }
  }
}

.section-header {
  @include clearfix;
  padding: 0 $usual-buffer;
  background-color: $light-bulgarian-green;
  border-radius: $usual-buffer;
  margin: $usual-buffer * 3  0 $usual-buffer 0 ;

  .left, .right {
    line-height: 3.5em;
    height: 3.5em;
    vertical-align: bottom;


    h4 {
      margin: 0px;
      display: inline-block;
    }
  }
}

.save-button {
  float: right;
}

.connection {
  margin: $usual-buffer;
  margin-top: $usual-buffer * 2;

  .body {
    padding-left: 80px + $usual-buffer;
  }

  .connection-info-panel {
    float: left;
    width: 80px;

    .mode {
      text-align: center;
      padding-top: 0.5em;
      color: #999;
      font-size: 110%;
    }

    .date {
      background-color: $light-bulgarian-green;
      border-radius: $usual-buffer;
      padding: $usual-buffer;

      .day {
        font-size: 120%;
        text-align: center;
      }

      .year {
        font-size: 80%;
        text-align: center;
      }
    }
  }
}

.relationship {
  padding: $usual-buffer;
  a.email-links {
    color: #428bca;
  }
  .summary {
    @include clearfix;
  }

  a .name {
    font-weight: bold;
    font-size: 1.3em;
  }

  .type {
    color: #999;
  }

}

#not-found {
  text-align: center;

  h4 {
    margin-top: 40px;
    color: $bulgarian-green;
  }
}

#alert {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 240px;
  border-radius: 10px;
  padding: 10px;
  background-color: lighten($bulgarian-green, 65);
  color: #999;

  p {
    margin-left: 20px;
    margin-bottom: 0;

    &::before {
      content: "";
      border-radius: 5px;
      width: 0px;
      height: 0px;
      border: 5px solid $bulgarian-green;
      margin-left: -20px;
      margin-top: 5px;
      float: left;
    }
  }
}

.birthday {
  padding: 5px 10px;
  font-size: 120%;

  b {
    padding-right: 5px;
  }
}

.birthday-warning {
  color: $warning;
  padding: 5px 10px;
  margin-top: 15px;
  text-align: center;
}

.autocomplete {
  position: relative;

  .suggestions {
    display: none;
    list-style: none;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 3000;

    &.active:hover {
      display: block;
    }

    li a {
      display: block;
      width: 100%;
      padding: 7px;

      &.highlighted {
        background-color: #ddd;
      }

      &:hover {
        color: black;
      }
      .subtext {
        color: #888;
        display: inline-block;
        float: right;
      }
    }
  }

  input:focus + .suggestions.active {
    display: block;
  }
}

#support {
  position: fixed;
  bottom: 0px;
  right: 10px;

  #need-help {
    background: #bbb;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    color: white;
    float: right;

    &:hover {
      background: #999;
    }
  }

  .instructions {
    max-height: 0;
    border: #bbb 2px solid;
    background: #eee;
    transition: max-height 0.3s, margin-bottom 0.3s;
    padding: $usual-buffer;
    margin-bottom: ($usual-buffer + 2px) * -2;

    &.support-active {
      margin-bottom: 0px;
      max-height: 200px;
    }

    a {
      display: block;
      margin: 10px 0;
      font-weight: bold;
      width: 100%;
      text-align: center;
      color: $bulgarian-green
    }
  }
}

.dashboard {
  padding-top: 4px;

  p {
    font-size: 16pt;
    margin: 20px 0;
    padding-bottom: 20px;
  }

  section {
    margin-bottom: $usual-buffer * 3;
    border-bottom: 1px solid $bulgarian-green;
  }

  #field-ops {
    font-size: 14px;
  }

  .connections-report {
    display: none;

    &.visible {
      display: block;
    }
  }
}

.totals-row {
  background-color: $light-bulgarian-green;
}

.year-column {
  background-color: $light-bulgarian-green;
}

.year-selection {
  padding: 5px;
  padding-bottom: 10px;

  .is-selected .btn {
    background-color: $light-bulgarian-green;
  }
}