body {
  font-family: 'HelveticaNeue', sans-serif;
  color: $dark-grey;

  a {
    cursor: pointer;
    color: $dark-grey;
  }

  a:hover, .btn-link:hover {
    color: lighten($bulgarian-green, 5);
    text-decoration: none;
  }

  h3 {
    margin-bottom: $usual-buffer;
  }
}


@media screen and (max-width: $break-medium) {
  input[type='text'],
  input[type='number'],
  input[type='password'],
  select,
  textarea {
    font-size: 16px;

    &:hover, &:focus {
      font-size: 16px;
    }
  }
}


a.active {
  font-weight: bold;
  cursor: default;
  &:hover { color: inherit; }
}

.logo {
  &.large {
    h1 { font-size: 3.5em; }
  }

  .active {
    font-weight: normal;
  }

  h1 {
    color: $bulgarian-green;
    font-family: 'Redressed', sans-serif;
    font-size: 2em;
    margin: 0px;

    a { color: $bulgarian-green; }
    a:hover { color: lighten($bulgarian-green, 10); }
  }
}