<div class="event-action">
  <form id="event-form">
    <h2>Edit Event</h2>

    {{partial "event/form"}}

    {{#if isSaving}}
      <div class="spin-button">
        <i class="icon-loading animate-spin"></i>
      </div>
    {{else}}
      <div class="cancel">
        {{#link-to 'events'}}
          cancel
        {{/link-to}}
      </div>

      <button id="save-event"
              class="btn btn-default"
              {{action "saveEvent"}}
              {{bind-attr disabled="saveDisabled"}}>
        Save Event
      </button>
    {{/if}}
  </form>
</div>
