<div id="sidebar">
  <ul class="contacts">
    <li class="searchbar">
        <i class="icon-search"></i>
        {{input type="text"}}
    </li>
  </ul>

  <div class="spinner">
  </div>
</div>

<div id="main-panel">
  {{outlet}}
</div>