<div id="sidebar">
  <ul class="vehicles">
    <li class="searchbar">
        <i class="icon-search"></i>
        {{input type="text" value=filterQuery}}
        {{searchFilter}}
    </li>

    <li class="new-vehicle">
      {{#link-to 'vehicles.new'}}
        Add Vehicle
      {{/link-to}}
    </li>

    {{#each filteredCollection}}
      <li class="contact">
        {{#link-to 'vehicle' this}}
          {{licensePlate}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

<div id="main-panel">
  {{outlet}}
</div>