<h2>Edit Client</h2>
<form class="contact-form">

    <div id="test">
  {{partial "contact/form"}}
    </div>
  <div class="cancel">
    {{#link-to 'contact' this}}
      cancel
    {{/link-to}}
  </div>

  {{#if isSaving}}
    <div class="spin-button">
      <i class="icon-loading animate-spin"></i>
    </div>
  {{else}}
    <button class="btn btn-default" id="update-contact" {{action "saveContact"}}>
      Save Client
    </button>
  {{/if}}
</form>
