div#birthdays {
  h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .contact {
    margin: 0 auto;

    .name {
      float: left;
    }

    .birthday {
      float: left;
      padding-left: 10px;
      color: #aaa;
    }
  }
}

.owner{
  display: inline;
  width: auto;
  margin-left: 0.5em;
}


.phone-header {
  .phone-help-icon {
    margin-left: 0.5em;
  }

  .fa-question {
    color: #00966e;
  }

  text {
    visibility: hidden;
  }

  .phone-help-icon:hover{
    text {
      visibility: visible;
      font-size: 85%;
    }
  }
}

