div#birthdays {
  h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .contact {
    margin: 0 auto;

    .name {
      float: left;
    }

    .birthday {
      float: left;
      padding-left: 10px;
      color: #aaa;
    }
  }
}