$bulgarian-green: #00966E;
$bulgarian-red: #D62612;
$dark-grey: #333;

body {
 font-family: 'Helvetica', sans-serif;
 color: $dark-grey;
 font-size: 14px;

 a {
   color: $dark-grey;
 }
}

header {
  width: 800px;
  padding: 5px;
  margin: 0 auto 10px auto;
  color: $bulgarian-red;
  border-bottom: 2px solid $bulgarian-red;
  line-height: 20px;
  vertical-align: center;

  a.title {
    font-size: 20px;
    color: $bulgarian-green;
    font-family: 'AmericanTypewriter-Bold', sans-serif;
    float: left;
    text-decoration: none;
  }

  .login-info {
    float: right;
  }
}

h2 {
  margin: 10px 0;
  font-size: 24px;
}

div#flash {
  width: 800px;
  margin: 0 auto 10px auto;
  text-align: center;
  font-weight: bold;

  .alert {
    color: $bulgarian-red;
  }

  .notice {
    color: $bulgarian-green;
  }
}

div#content {
  width: 800px;
  margin: auto;

  h1 {
    padding: 10px 0;
    font-size: 22px;
  }

  h2 {
    padding: 5px 0;
    font-size: 20px;
  }
}

input[type = "checkbox"] {
  margin: 0;
}