$bulgarian-green: #00966E;
$bulgarian-red: #D62612;
$dark-grey: #333;

html, body {
  height: 100%;
}

body {
  font-family: 'HelveticaNeue', sans-serif;
  color: $dark-grey;
  font-size: 14px;

  a {
    color: $dark-grey;
  }

  a:hover {
    color: lighten($bulgarian-green, 5);
    text-decoration: none;
  }
}

header {
  height: 60px;
  width: 90%;
  max-width: 800px;
  left: 50%;
  position:fixed;

  #topbar {
    position: relative;
    left: -50%;
    background-color: white;
    width: 100%;
    max-width: 800px;
    height: auto;
    padding: 15px 5px 5px 5px;
    color: $bulgarian-red;
    border-bottom: 2px solid $bulgarian-red;
    line-height: 20px;
    vertical-align: center;

    h1 {
      font-size: 22px;
      line-height: 25px;
      margin: 0px;
      float: left;

      a {
        color: $bulgarian-green;
        font-family: 'Redressed', sans-serif;
        text-decoration: none;
      }

      a:hover {
        color: lighten($bulgarian-green, 10);
      }
    }

    .login-info {
      float: right;
    }
  }
}

h2 {
  margin: 10px 0;
  font-size: 24px;
}

div#flash {
  width: 800px;
  margin: 0 auto 10px auto;
  text-align: center;
  font-weight: bold;

  .alert {
    color: $bulgarian-red;
  }

  .notice {
    color: $bulgarian-green;
  }
}

nav {
  float: left;
  margin-left: 10px;

  ul {
    display: inline-block;
    margin: 0px;

    li {
      line-height: 25px;
      padding-left: 10px;
      display: inline-block;

      a  {
        text-decoration: none;
      }

      a:hover {
      }
    }
  }
}

div#content {
  width: 800px;
  margin: auto;
  padding-top: 50px;

  h1 {
    padding: 10px 0;
    font-size: 22px;
  }

  h2 {
    padding: 5px 0;
    font-size: 20px;
  }

  h4 {
    color: #777;
    font-size: 16px;
  }
}

input[type = "checkbox"] {
  margin: 0;
}

#loader img {
  display: block;
  margin: 0px auto;
  height: 400px;
}

.spinner {
  margin: 70px auto 20px;
  height: 50px;
  width: 50px;
  background: lighten($bulgarian-green, 65) url(asset-path("greenspin.gif", image)) no-repeat center center;
}

div#ember-app {
  #main-panel {
    padding: 10px;
    width: 540px;
    float: right;
    h2 {
      margin: 0;
      margin-bottom: 10px;
      padding: 0px;
    }

    input, textarea {
      width: 100%;
    }
  }

  #sidebar {
    position: fixed;
    top: 60px;
    bottom: 10px;
    width: 240px;
    float: left;
    background-color: lighten($bulgarian-green, 65);
    border-radius: 10px;

    overflow: scroll;
  }

  .controls {
    position: fixed;
    padding: 10px 0 20px;
    margin: 0 10px;
    background-color: inherit;
  }

  .searchbar {
    position: relative;
  }

  .searchbar i {
    position: absolute;
    right: 0px;
    padding: 8px;
    pointer-events: none;
  }

  .new-contact, .new-vehicle {
    font-weight: bold;
    padding: 10px 10px 0 10px;
  }

  .vehicle-panel {
    margin: 10px;

    h3 {
      margin: 0px 0px 0px 0px;
    }

    .options {
      float: right;
    }

    .used-by {
      color: #aaa;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 25px;
    }
  }

  .contact-panel {
    margin: 10px;

    h3 {
      margin-top: 0;
    }

    .top-info {
      width: 350px;
      float: right;
      padding: 10px;
    }

    .bio {
      padding: 20px;
    }

    .options {
      float: right;
    }

    .avatar {
      margin: 10px 10px 10px 0;
      width: 140px;
      float: left;
      text-align: center;
      font-size: 90%;

      img {
        height: 140px;
      }
    }
  }

  .contact-form {
    padding: 0 10px;
  }

  .cancel {
    float: right;
  }


  ul.contacts, ul.vehicles {
    padding: 10px;
    margin: 80px 0 0 0;
    list-style-type: none;
    overflow: scroll;

    a.active {
      background-color: lighten($bulgarian-green, 68);
    }

    li.contact, li.vehicle {
      a {
        display: block;
        padding: 10px;
        text-decoration: none;
      }

      a:hover {
        background-color: lighten($bulgarian-green, 68);
      }
    }
  }

  .file-upload-contatiner {
    position: relative;
    font-size: 10px;
    color: #999;
    margin-top: -5px;

    &:hover {
      .fake-uploader {
        color: lighten($bulgarian-green, 5);
      }
    }

    .fake-uploader {
      width: 100%;
      height: 100%;
    }

    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  .add-connection-form {
    margin-bottom: 40px;
  }

  .connection {
    margin: 10px 10px 10px 0px;

    .date {
      background-color: lighten($bulgarian-green, 65);
      border-radius:  10px;
      padding: 10px;
      float: left;

      .day {
        font-size: 120%;
        text-align: center;
      }

      .year {
        font-size: 80%;
        text-align: center;
      }
    }

    .note {
      float: left;
      padding: 10px;
    }
  }
}

.errors ul {
  margin:0px;
  padding:0px;
  list-style-type: none;
  color:red;
}