  <div class="form-group">
    <label for="licensePlate">license plate number:</label>
    {{input type="text" id="licensePlate" class="form-control" value=licensePlate}}
  </div>

  <div class="form-group">
    <label for="usedBy">driven by:</label>
    {{input type="text" id="usedBy" class="form-control" placeholder="Who uses or drives this car?" value=usedBy}}
  </div>

  <div class="form-group">
    <label for="notes">notes:</label>
    {{textarea id="notes" class="form-control" value=notes rows="10"}}
  </div>

{{#if errors.length}}
  <ul class="errors">
    {{#each error in errors}}
      <li>{{error}}</li>
    {{/each}}
  </ul>
{{/if}}